@font-face {
    font-family: Roboto-Regular;
    src: url(https://geos.dev.humanpixel.com.au/assets/frontend/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(https://geos.dev.humanpixel.com.au/assets/frontend/fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(https://geos.dev.humanpixel.com.au/assets/frontend/fonts/Roboto-Light.ttf);
}
body {
  font-family: Roboto-Regular !important;
  background-color: #fff;
  position: relative;
  margin: 0px;
  padding: 0px;
}
p{
font-family: Roboto-Light;
}
/*h1,h2,h3,h4,h5,h6{
 font-family: Roboto-Medium !important;
}*/
.page-content > .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  /*margin-top: 30px;*/
}
/* Logo & Navigation */
.navbar-toggle,.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #045098;
}
.navbar-inverse .navbar-toggle {
    border-color: #045098;
}
.header{
   height:50px;
   background-color: #0856A2;
}

.header .logo h1{
   font-size:30px;
   margin:0px;
   padding:10px 0px;
}

.header .logo h1 a{
   color:#fff;
   font-family: 'Open Sans Condensed', sans-serif;
}

.header .logo h1 a:hover{
   color:#fff;
   text-decoration:none;
   border:0px;
}

.header .form{
   margin-top:10px;
   width:100%;
   max-width:300px;
   margin:10px auto;
}

.header .navbar *{
   box-shadow:none !important;
}

.header .navbar .label{
   font-size:12px;
   padding:4px 8px;
   margin:0px 2px;
   border-radius:15px !important;
}

.header .navbar{
   background:none !important;
   border:0px !important;
}

.header .navbar i{
   margin-right:3px;
}

.header .navbar .nav > li > a{
   color:#fff !important;
   font-size:13px !important;
   border-bottom:0px !important;
   margin-top:0px !important;
   font-weight:bold;
}

.header .navbar-nav>.open>a,.header  .navbar-nav>.open>a:hover,.header  .navbar-nav>.open>a:focus {
   background:none !important;
}

.header .navbar-collapse{
   border:0px !important;
}

.header .navbar-header{
   width:43px;
   margin:0 auto;
}

.header .navbar-header button{
   color:#fff !important;
   padding:5px 10px;
}

.header .navbar-toggle{
   background-color: #1dc1da !important;
   border:1px solid #0fa6bc !important;
}

.header .navbar-toggle:hover, .header .navbar-toggle:focus {
   background-color: #0fa6bc !important;
   border:1px solid #0fa6bc !important;
}

.header .dropdown-menu{
   border-radius:6px !important;
   background:#fff !important;
}

.header .dropdown-menu li{
   font-size:13px;
   padding:6px 15px;
   border-bottom:1px dashed #f3f3f3;
}

.header .dropdown-menu li a {
   color:#888;
   padding-left:0px !important;
}

.header .dropdown-menu li:last-child{
   border:0px;
}

.header .dropdown-menu li a:hover{
   background:none !important;
   color:#666 !important;
   border:0px !important;
}

.header .dropdown-big{
   min-width:300px;
}

.header .dropdown-big .dropdown-head{
   padding:7px 15px;
   background:#fcfcfc;
   border-bottom:1px solid #ddd;
   margin-top:-5px;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
}

.header .dropdown-big .dropdown-title{
   font-size:13px;
   font-weight:bold;
   color:#999;
}

.header .dropdown-big .dropdown-body{
   background:#fff;
}

.header .dropdown-big .dropdown-foot{
   padding:7px 15px;
   background:#fcfcfc;
   border-top:1px solid #ddd;
   margin-bottom:-5px;
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px;
   font-size:12px;
}

.header .dropdown-big .dropdown-foot a{
   color:#888;
}

.header .dropdown-big .dropdown-foot a:hover{
   color:#555;
   border-bottom:0px;
}

.header .navbar-nav .caret{
   border-top-color:#fff !important;
   border-bottom-color:#fff !important;
}

.header .navbar-nav>.open>a .caret,.header  .navbar-nav>.open>a:hover .caret,.header  .navbar-nav>.open>a:focus .caret {
   border-top-color: #fff !important;
   border-bottom-color: #fff !important;
}

.staffinfoheader{
	margin-bottom:2%;
	margin-top: 2%;
}
.staffheading{margin-bottom:5px;}
.align-right {
    float: right;
    margin-right: 10px;
	}

/* Sidebar navigation */

/*.content-box,*/ .content-box-large {
   background:#fff;
   border-radius:10px;
   padding:10px;
   border-left:1px solid #eee;
   border-top:1px solid #eee;
   border-right:2px solid #eee;
   border-bottom:2px solid #eee; 
}

.content-box-large {
  padding: 20px;
   float: left; 
   width:100%;
   margin-top:2%;
   padding: 0; 
	 
}
/*
=====================
Announcements section
=====================
*/
.announcements {
    float: left;
    width: 100%;
    background-color: #f3f3f3;
    margin-bottom: 30px;
}
.board {
    width: 100%;
    float: left;
    background-color: #2d6cac;
    color: #fff;
    margin-bottom: 3%;
}
.board .panel-title {
    padding: 5px !important;
}
.announcements .message {
    width: 95%;
    background-color: #fff;
    margin: 0% auto 3% auto;
    border-radius: 5px;
}
.box-with-header {
  border-top: none;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
}
.announcements h4 {
    background-color: #e9f0f7;
    padding: 5px 10px 5px 10px;
    font-weight: 700;	
}
.content-box-header {
  min-height: 40px;
   font-size: 16px;
   background:#f5f5f5;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
   padding:10px;
   border-left:1px solid #eee;
   border-top:1px solid #eee;
   border-right:2px solid #eee;
}

.content-box-header:after {
  clear:both;
}

.sidebar ul.nav, .sidebar ul.nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.sidebar ul.nav ul {
   margin:0px;
   padding:0px;
   display:none;
}

.sidebar .nav li.open ul{
   display:block;
}

.sidebar .nav > li {
	margin: 0;
   border-bottom:1px dashed #eee;
}

.sidebar .nav > li:last-child{
   border-bottom:0px;
}

.sidebar .nav > li li {
	margin: 0;
}

.sidebar .nav > li li a{
   padding-left:25px;
}

.sidebar .nav > li > a {
	font-size: 14px;
	line-height: 20px;
	padding: 15px 15px;
	color: #999;
	display: block;
   font-weight:bold;
   background:none;
	text-decoration: none;
   border-top:0px;
   font-weight:bold;
}

.sidebar .nav > li > a > i{
   margin-right:2px;
}

.sidebar .nav > li > ul > li > a {
	font-size: 13px;
	line-height: 20px;
	padding: 8px 10px 8px 40px;
	color: #999;
   background:#fff;
	display: block;
	text-decoration: none;
   border-top:0px;
   font-weight:bold;
}

.sidebar .nav > li > ul > li.active > a{
   background:#fff;
   border-top:0px;
   color:#555;
}

.sidebar .nav > li > ul > li > a:hover{
   background:#fff;
   color:#555;
   border-bottom:0px;
}

.sidebar .nav li a:hover, .sidebar .nav li.current > a {
	background: #fff;
	color: #555;
   border-bottom:0px;
}

.sidebar .nav li.open > a {
   background:#fff;
   color: #555;
   border-bottom:1px dashed #eee;
}

.sidebar .nav a .caret {
	float: right;
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
   margin-top: 8px;
	margin-left: 2px;
}

.sidebar .nav a:hover .caret {
	border-top-color: #aaa;
}

.sidebar .nav li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #aaa !important;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.sidebar .nav li.open > a:hover > .caret {
	border-bottom-color: #aaa;
}

.login-bg {
  background: rgba(255, 255, 255, 0);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-color: #eff0f3;
  background-repeat: no-repeat;
  height: 100%;
}



/** Login & Signup **/

.login-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}


.login-wrapper .box {
  margin: 0 auto;
  padding: 30px 0 30px;
  float: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
  -ms-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.login-wrapper .box .content-wrap {
  width: 82%;
  margin: 0 auto;
}
.login-wrapper .box h6 {
  text-transform: uppercase;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 600;
}
.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="password"] {
  font-size: 15px;
  height: 40px;
  margin-bottom: 10px;
  border-color: #b2bfc7;
  padding-left: 12px;
}
.login-wrapper .box input[type="text"]:focus,
.login-wrapper .box input[type="password"]:focus {
  border: 1px solid #28a0e5;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
  -moz-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
  -ms-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
  -o-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
  box-shadow: inset 0 1px 2px #dddddd, 0px 0 5px #28a0e5;
}
.login-wrapper .box input[type="password"] {
  margin-bottom: 10px;
}

.login-wrapper .box .action {
  position: relative;
  top: 30px;
  padding: 15px 0px;
}
.login-wrapper .box .signup {
  text-transform: uppercase;
  font-size: 13px;
  padding: 7px 25px;
  border-radius: 5px;
}
.login-wrapper .already {
  margin: 0 auto;
  float: none;
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
.login-wrapper .already p {
  display: inline-block;
  color: #222;
}
.login-wrapper .already a {
  color: #222;
  margin-left: 7px;
  border-bottom: 1px solid;
}
.login-wrapper .already a:hover {
  text-decoration: none;
  color: #000;
  border-bottom-color: #000;
}


.login-wrapper .box .social{
  margin: 0 auto;
  width: 90%;
}
.login-wrapper .box .social a.face_login{
  background: #6887c4;
  background: -moz-linear-gradient(top, #6887c4 0%, #4566a9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6887c4), color-stop(100%,#4566a9));
  background: -webkit-linear-gradient(top, #6887c4 0%,#4566a9 100%);
  background: -o-linear-gradient(top, #6887c4 0%,#4566a9 100%);
  background: -ms-linear-gradient(top, #6887c4 0%,#4566a9 100%); 
  background: linear-gradient(to bottom, #6887c4 0%,#4566a9 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6887c4', endColorstr='#4566a9',GradientType=0 );
  border: 1px solid #3B4868;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 37px;
    overflow: hidden;
    width: 99%;

    text-decoration: none !important;
}
.login-wrapper .box .social a.face_login:hover {
  background: #6887c4;
  background: -moz-linear-gradient(top, #6887c4 0%, #5773AC 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6887c4), color-stop(100%,#5773AC));
  background: -webkit-linear-gradient(top, #6887c4 0%,#5773AC 100%);
  background: -o-linear-gradient(top, #6887c4 0%,#5773AC 100%);
  background: -ms-linear-gradient(top, #6887c4 0%,#5773AC 100%); 
  background: linear-gradient(to bottom, #6887c4 0%,#5773AC 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6887c4', endColorstr='#5773AC',GradientType=0 );
}
.login-wrapper .box .social a.face_login span.face_icon{
  background-color: #39599F;
    border-radius: 3px 0 0 3px;
    float: left;
    height: 37px;
    text-align: center;
    width: 51px;
}
.login-wrapper .box .social a.face_login span.face_icon img{
  margin-top: 5px;
}
.login-wrapper .box .social a.face_login span.text{
  color: #FFFFFF;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 6px 0 0 25px;
    text-shadow: 1px 1px 0 #39599F;
}
.login-wrapper .box .division{
  display: inline-block;
    margin: 17px 0 23px;
    position: relative;
    text-align: center;
    width: 100%;
}
.login-wrapper .box .division hr{
  border-color: #E2E2E4;
    border-width: 1px;
    margin: 0;
    position: absolute;
    width: 40%;
}
.login-wrapper .box .division hr.left{
  top: 13px;
}
.login-wrapper .box .division hr.right{
  bottom: 6px;
    right: 0;
}
.login-wrapper .box .division span{
  color: #666666;
  font-size: 18px;
}

.panel-heading>.panel-title, .content-box-header .panel-title {
    float: left;
    padding: 10px 15px;
    padding-top: 0px;
}

.panel-heading>.panel-title>*, .content-box-header .panel-title>* {
    margin: 0;
}

.panel-heading>.panel-title>span, .content-box-header .panel-title>span {
    font-weight: normal;
}

.panel-heading>.panel-options, .content-box-header .panel-options {
    float: right;
    padding-right: 15px;
}

.panel-heading>.panel-options>a, .content-box-header .panel-options>a {
    margin-top: 10px;
}

.panel-body {
  clear:both;
}
.error{color:red;}

/* Responsive CSS */

/* Tablets */
@media (max-width: 767px){
   .container{
      width:100%;
   }
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      text-align:center;
      padding-bottom:10px;
   }
   .header .navbar .nav > li > a:hover{
      background:#0fa6bc;
      border-radius:5px;
   }
   .navbar-toggle {
      margin-right:0px !important;
   }
}

/* Desktop */

@media (max-width: 991px){
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      text-align:center;
      padding-bottom:10px;
   }
   .header .form{
      margin:10px auto;
   }
   .sidebar, content-box{
      margin-bottom:30px;
      width:100%;
      float:none;
      position:relative;
   }  
   .mainy{
      margin-left: 0px;
   }
   .sidebar-dropdown{
      display:block;
      text-align:center;
      margin:0 auto;
      margin-bottom:10px;
      border-bottom:1px dashed #eee;
      padding-bottom:10px;
   }
   .sidebar-dropdown a, .sidebar-dropdown a:hover{
      color:#fff;
      background:#16cbe6;
      display:block;
      padding:6px 12px;
      border-bottom:0px;
      box-shadow:0px 0px 1px #0fa6bc;
      border-radius:10px;
   }  
}
.drop_downform {
    float: left;
    width: 100%;
    margin-bottom:3%;
	padding-top: 10px;
}
div#uploadifive-file_upload {
    float: left;
    height: auto!important;
    line-height: 1.42857143!important;
    width: auto!important;
	margin-right:5px;
}
em {
    color: red;
    margin-left: 2px;
}
.height_fix{
	max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.small-box.bg-aqua {
    background-color: #00c0ef !important;
}
.small-box>.inner {
    padding: 10px;
}
.bg-green{
	background-color: #00a65a;
}
/*
===========
header css
===========
*/
  .navbar {
    border-radius: 0;
}
.width100 {
    width: 60%;
    float: right;
}
.navbar-form {
    margin-right: 0;
    margin-top: 20px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000;
  font-size: 17px;	
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #f03f35
	}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}
.navbar-inverse .navbar-nav>li>a::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 35%;
    right: 0;
    background: #000;
    top: 50%;
    transform: translate(0, -50%);
}
.navbar-inverse .navbar-nav>li:last-child >a::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 0%;
    right: 0;
}
input#is_induction {
    position: absolute;
    margin-left: 10px;
}
.induction_lbl {
    font-weight: 700;
}
/*****************/

/*
============
Left sidebar 
============
*/
.panel-group ul.list-group {
    list-style: none;
    width: 80%;
    margin: auto;
}
.page-content .col-md-3 {
    padding: 0 20px 0 30px;
}
.sidebar.content-box {
    width: 100%;
    float: left;
}
.panel-group {
    background: #e9f0f7 none repeat scroll 0 0;
    padding: 0 0 10px 0;
}
h4.panel-title {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    font-weight: 700;	
    background-color: #045098;
    color: #fff;
    padding: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(8,86,162,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(8,86,162,1);
    box-shadow: 0px 0px 2px 0px rgba(8,86,162,1);
}
.list-group li {
    line-height: 2;
    font-size: 14px;
}
.list-group li a {
    color: #444242;
    font-weight: 700;
}
/*
=============
Right sidebar
=============
*/
.views  p{
padding: 0 5px 0 10px;
}
/*
===============
Carousel slider
===============
*/
div#myCarousel {
    float: left;
    width: 100%;
}
div#myCarousel img {
    width: 100%;
    height: 270px !important;
}
/************************/
/*
==========
footer css
==========
*/
.bg-4.text-center {
    background-color: #045098;
    color: #fff;
    font-size: 20px;
    padding: 20px 0 10px 0;
}
.calert{
    width: 100%;
    float: left;
}
/*********************/
/*
======
TABLE
=======
*/
.table{
margin-bottom:0; 
}
.table_heading {
    background-color: #045098 !important;
    border: 0;
    box-sizing: unset;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
   -webkit-box-shadow: 0px 0px 2px 0px rgba(8,86,162,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(8,86,162,1);
    box-shadow: 0px 0px 2px 0px rgba(8,86,162,1);	
    cursor: pointer;	
}
.table_heading td {
    border: 0;
   border-top: 0 !important;
}
.border_bottom {
    border-bottom: 1px solid #cccccc91;
}
/*project css*/
.form-control.ptype {
    border: none;
    box-shadow: none;
}
input.project_type, input.induction {
    margin-right: 3px;
}
label.ch{
  width: 100%;
  float: left;
}
.form-control.ptype {
    width: 33%;
    float: left;
}
.navbar-inverse .navbar-nav>li>a:focus {
    color: #000;
}
.accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #ccc;
}
.accordion-toggle.collapsed:after {
    content: "\e080"; 
	color: #ccc;	
}
.border_accordian{
	border-bottom: 1px solid;
}
.profile-image {
    margin: 10px 0;
    width: 20%;
    border: 1px solid #708fad;
}
@media only screen and (min-width: 768px){

.carousel-caption {
    right: 0;
    left: 10%;
    padding-bottom: 30px;
    top: 10%;
    width: 50%;
    margin: 0;
    text-align: left;
}
}
@media only screen and (max-width: 767px){
.navbar-inverse .navbar-nav>li>a::after{
display:none;
}
form.navbar-form.navbar-right {
    border: none;
}
.width100 {
    width: 100%;
    float: left;
}
}

/*
==========
top header
==========
*/ 
.main-header {
    position: fixed !important;
    max-height: 100px;
    z-index: 1030;
    left: 0;
    right: 0;
}
span.logo-mini {
    color: #045098;
}
/*.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: unset !important;
}*/
.skin-blue .main-header .logo , .skin-blue .main-header .navbar{
    background-color: #fff !important;
	}
.skin-blue .main-header .navbar .nav>li>a {
    color: #000 !important;
}	
section.sidebar {
    background-color: #ffffff;	
}
aside.main-sidebar {
	width: 240px;
  padding-top: 0;
  z-index: 9999;
}
.main-header .navbar{
    min-height: 55px !important;
}
.main-header .logo{
height: 55px !important;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #0f1a36 !important;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>p{
margin:0 !important;
}
.messages-menu>.dropdown-menu>li.footer>a{
text-align:left !important;
}
/******************/
/*
============
page content
============
*/
.page-content {
    background-color: #f7f7f7;
	min-height: 100vh;	
}
/****************/
/*
=============
sidebar menu
=============
*/

.user-panel .image {
    width: 100%;
    text-align: center;
	padding-top:10px;
}
.user-panel>.image>img {
    max-width: 100% !important;
	}
	.user-panel .info {
    width: 100%;
    text-align: center;
    position: unset !important;
    margin-top: 10px;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    color: #145ba2;
}
.skin-blue .sidebar-menu>li.active>a{
    border-left-color: #045098 !important;
}
.padding-left-right {
    padding: 60px 30px 0 30px;
}
aside.main-sidebar {
    height: 100%;
    max-height: 100%;
    background-color: #0f1a36 !important;	
}
/**************/
.padding0 {
    padding: 0;
}

/*************************/
@media only screen and (max-width: 669px){
.padding-left-right {
    margin-top: 12%;
    padding: 50px 10px 0 10px;	
}
}
@media only screen and (max-width: 767px){
.fc-toolbar .fc-left {
    width: 100%;
}
.fc-toolbar .fc-right {
    width: 100%;
    float: left !important;
    margin: 10px 0 10px 0;
}
.content-box-large {
    margin-top: 10%;
}
aside.main-sidebar {
    width: 230px;
}


.user-list table, thead, tbody, th, td, tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        .user-list thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
  .user-list  tr {
     margin: 0 0 1rem 0;
   }
 .user-list  tr:nth-child(odd) {
     background: #cccccc3b;
   }
    .user-list td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            width: 100% !important;
        }
        .user-list td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 15px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
.user-list td {
   padding-left: 40% !important;
}
.user-list td.text-center {
    padding: 0 !important;
}
.search_form form {
  / margin-right: 20px;/
}
        /*
        Label the data
   You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
        */
        .user-list td:nth-of-type(1):before { content: "First Name";  color: #045098; font-weight:700;}
        .user-list td:nth-of-type(2):before { content: "Last Name"; color: #045098;font-weight:700; }
        .user-list td:nth-of-type(3):before { content: "Email"; color: #045098;font-weight:700; }
        .user-list td:nth-of-type(4):before { content: "Username";  color: #045098;font-weight:700;}
        .user-list td:nth-of-type(5):before { content: "Action"; color: #045098;font-weight:700; }


}
@media only screen and (max-width: 991px){
.profile-head {
    padding-left: 5%;
}
.padding-left {
    padding-left: 7%;
}
div#changephoto {
    margin: 2% 0 0 0;
    padding-left: 6%;
}
div#myTabContent {
    padding-left: 6%;
}

}


/**
 * Simplecomplete
 */

.ui-widget.ui-widget-content {
    z-index: 9999;
}
.ui-autocomplete-loading { background:url('/assets/images/ajax-loader.gif') no-repeat right center }
.edit_schedule img {
    width: 17px;
    position: relative;
    bottom: 2px;
}
img.constCardThumb {
   border: 1px solid #e2e2e2;
   padding: 1px;
   cursor: pointer;
}
img.constCardThumb:hover {
   opacity: 0.5;
}
#constP{
 padding: 5px;
}
div#project_name_chosen {
    width: 100% !important;
}
.deleteExcProj i.glyphicon.glyphicon-trash {
   color: #ff0000;
   cursor: pointer;
}

.deleteExcProj i.glyphicon.glyphicon-trash:hover {
   opacity: 0.5;
}
#skillstabdata .col-md-4 {
   padding: 0;
}
.deleteExcProj i.glyphicon-pencil {
   color: #378edf;
   cursor: pointer;
}

.deleteExcProj i.glyphicon-pencil:hover {
   opacity: 0.7;
}
/*******************schedule table*********************/
tr.top_tr {
    background-color: #00c0ef;
    width: 100%;
}
td.empcolp {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
	cursor:pointer;
}
tr.top_tr:nth-of-type(odd) {
    background-color: #00c0ef !important;
}
.datacolp-span,span.add_row_e,span.rmv_row_e{
cursor:pointer;
}
span.add_row_e, span.rmv_row_e {
    margin: 0 10px;
}
.border-dark{
    border-top: 2px solid #333333db;
}
.note-content, .task-content{
  padding: 0;
}
.note-content h5, .task-content h5{
  margin: 0;
}
.note-content p:nth-child(2), .task-content p:nth-child(2){
  font-size: 13px;
}
.note-action, .task-action{
    position: relative;
    top: 15px;
}
.note-action i,.task-action i {
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}
.notes-container-hidden input.form-control[name="edit_title"], .tasks-container-hidden input.form-control[name="edittask_title"] {
    height: 25px;
    margin: 4px 0;
}
.col-md-6.col-md-offset-2.notes-container, .col-md-6.col-md-offset-2.notes-container-hidden, .col-md-6.col-md-offset-2.tasks-container, .col-md-6.col-md-offset-2.tasks-container-hidden {
    border-top: 1px solid #E2E2E2;
    box-shadow: 0px 1px 0px 0px #fff;
    padding: 5px;
}
.col-md-5.contact-head {
    padding: 0;
}
.editTaskForm select.form-control {
    height: 25px;
    padding: 0 10px;
}
.col-md-7.contact-add {
    padding: 10px;
}
.content-box-large {
    background-color: #f5f7f8;
}
h3.col-md-6.col-md-offset-2 {
    margin-top: 0;
}
.row.contactlist {
    float: left;
}

.contacts-list-row.col-md-12 {
    border-top: 1px solid #e2e2e2;
    padding-bottom: 5px;
    box-shadow: 0px 1px 0px 0px #fff;
}
.contacts-list-row p.col-md-12 {
    margin: 0;
}
.client-tab table td {padding: 6px;}

.client-tab table tr {
    box-shadow: 0px 1px 0px 0px #fff !important;
    border-bottom: 1px solid #e2e2e2 !important;
}
.upper_head.col-md-12, .upper_head h4.col-md-9  {
    padding: 0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #e2e2e2 !important;
}
.table>thead>tr>th {
    border-bottom: 2px solid #e2e2e2 !important;
}
.box-footer {
    background-color: unset !important;
}
.sidebar-collapse .col-md-10.padding-left-right {
    width: 95%;
    float: right;
}

.sidebar-collapse .col-md-10.padding0 {
    width: 95%;
    float: right;
}
.small-box {
    border-radius: 6px !important;
    box-shadow: 2px 2px 1px #ccc !important;
}
/*
*Css added on new design template
*Date: 05-Feb-19;
*/
.main-sidebar .logo .logo-lg {
    display: block;
}
.main-sidebar .logo .logo-mini {
    display: none;
}
.skin-blue .sidebar a {
    color: #145ba2 !important;
    text-shadow: 0 0 0 #95aabf70;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a,.skin-blue .sidebar-menu>li>.treeview-menu  {
    color: #3c8dbc !important;
    background: #eee !important;
}
.user-panel>.info>p {
    color: #363636;
}
.skin-blue .sidebar-menu>li.active>a {
    box-shadow: 0 0 1px -1px #000;
}
.user-panel .pull-left.image {
    width: 22%;
    margin: 0 8px;
}
.user-panel .pull-left.info {
    width: 60%;
    margin: 25px 7px 0;
    font-size: 16px;
    padding: 0;
}
span.logo-lg, span.logo-mini {
    padding: 10px 0px 0 1px;
}
.user-panel {
    padding-top: 15px !important;
}
.sidebar-menu.tree i {
    font-size: 20px;
}
.sidebar-menu.tree i.fa.fa-plus {
    font-size: 25px;
}
.sidebar-menu.tree i.fa.fa-circle-o {
    font-size: 10px;
    margin: 0px 10px;
    position: relative;
    bottom: 1px;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 30px !important;
    position: relative;
    top: 1px;
}
.sidebar-menu>li>a {
    padding: 9px 5px 9px 20px !important;
}
body.sidebar-mini.sidebar-collapse .main-sidebar{
  width: 67px !important;
}
span.logo-mini {
    padding: 6px 0 0 7px;
}
.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.image {
    width: 100%;
    margin: 6px 2px;
}
.main-header .navbar{
  margin-left: 240px !important;
}
.sidebar-collapse .pull-left.image img.img-circle {
    width: 80%;
}
body.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{
      left: 65px;
      width: 220px;
}
body.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{
  margin-left: 15px !important;
  width: 220px;
}
body.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container{
  left: 223px !important;
}
section.sidebar {
    box-shadow: 0px 0px 5px #dad9d9;
    min-height: 132vh;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 !important;
}
.col-md-10.padding0 {
    float: right;
    width: 82.1%;
}
.col-md-10.padding-left-right {
    float: right;
    width: 82.2%;
}
.col-md-2.c-col-2{
	width: 17.8%;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: none !important;
}
a.sidebar-toggle, a.sidebar-toggle-cross {
    font-size: 23px;
}
.main-header .sidebar-toggle:before {
    color: #145ba2;
}
.sidebar-toggle{
	display: none;
}
.main-header .sidebar-toggle-cross {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
}
a.sidebar-toggle-cross, a.sidebar-toggle-cross:hover, a.sidebar-toggle-cross:focus {
    color: #145ba2;
}
.dropdown.messages-menu a.dropdown-toggle, .dropdown.notifications-menu a.dropdown-toggle {
    font-size: 20px;
    padding: 20px;
}
.dropdown.messages-menu a.dropdown-toggle i, .dropdown.notifications-menu a.dropdown-toggle i {
    color: #2d6cac;
    font-weight: 600;
}
.dropdown.user.user-menu a.dropdown-toggle {
    padding: 20px;
}
a.dropdown-toggle:hover {
    background: none !important;
}
.main-header .navbar .nav>li>a>.label{
position: absolute;
    top: 14px !important;
    right: 10px !important;
    font-size: 10px !important;
    padding: 3px 7px !important;
    border: 1px solid;
    border-radius: 10px !important;
}
.navbar-nav>.user-menu .user-image {
    width: 32px !important;
    height: 32px !important;
	}
	.dropdown.user.user-menu .dropdown-toggle span {
    color: #2d6cac !important;
    font-size: 16px;
    font-weight: 500;
}
.dropdown.user.user-menu .dropdown-toggle .fa.fa-caret-down {
    font-size: 20px;
    padding: 0 10px 0px 10px;
}
.navbar-nav {
    margin: 5px 0;
}
.navbar-custom-menu>.navbar-nav>li {
    margin: 0 2px 0 2px;
}
@media (min-width: 768px){
.sidebar-mini.sidebar-collapse .main-sidebar .logo>.logo-mini {
    display: block;
}
.sidebar-mini.sidebar-collapse .main-sidebar .logo>.logo-lg {
    display: none;
}
.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 65px !important;
}
.sidebar-mini.sidebar-collapse .sidebar-toggle {
    display: block;
}
.sidebar-mini.sidebar-collapse .sidebar-toggle-cross {
    display: none;
}
}